.alt-font {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500 !important;
}

body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    color: #707070;
    line-height: 22px;
    letter-spacing: 0.01em;
    background-color: #ffffff;
}

nav-link {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    color: #1F2421;
    line-height: 22px;
    letter-spacing: 0.01em;
    background-color: #ffffff;
}
.btn-outline-secondary {
    color: black;
    border-color: black;
  }
  
  .btn {
    font-size: 13px;
    padding: 10px 10px;
  }

.white-text {
    color: white !important;
}

.black-text {
    color: black !important;
}

.bold-text{
    font-weight: bold;
}

.jungle-green-text {
    color: #49A078 !important;
}

.caribbean-current-text {
    color: #216869 !important;
}

.eerie-black-text {
    color: #1F2421 !important;
}

.platinum-text {
    color: #DCE1DE !important;
}
.btn-outline-secondary {
    float: right;
    background-color: #DCE1DE;
  }

.caribbean-current-container {
    background-color: #216869;
}

.eerie-black-container {
    background-color: #1F2421 !important;
}
