.space {
    padding: 100px;
}

.nav-item {
    margin-right: 10px; /* Adjust the margin-right value to your preference */
}

.team-member-image {
    height: 500px;
    width: auto; 
}
.caribbean-current-container > .row {
    margin-right: 0; /* Remove the default margin on the right side of the row */
    margin-left: 0;  /* Remove the default margin on the left side of the row */
}

.caribbean-current-container > .row > div {
    padding-right: 0; /* Remove padding on the right side of each column */
    padding-left: 0;  /* Remove padding on the left side of each column */
}

